---
layout: 1
title: Page not found
permalink: /404.html
---
{%include figure.html src="comic-scribbles" img="404" alt="whoops."%}

<p>Ain’t nothin’ here. Have a sitemap.</p>

<ul><li><a href="{%include url.html%}">index</a></li>
<li><b><a href="{%include url.html%}/about">about</a></b></li>
<li><a href="{%include url.html%}/art">art feed</a> (general)<ul>
	<li><a href="{%include url.html%}/art/disaster-crew">/disaster-crew</a></li>
	<li><a href="{%include url.html%}/art/misc">/misc</a></li></ul></li>
<li><a href="{%include url.html%}/changelog">changelog</a></li>
<li><a href="{%include url.html%}/disaster-crew"><b>disaster crew</b></a><ul>
	<li><a href="{%include url.html%}/disaster-crew/nico">Nico Sylvester</a></li>
	<li><a href="{%include url.html%}/disaster-crew/ivy">Ivy Espinosa-Rodriguez</a></li>
	<li><a href="{%include url.html%}/disaster-crew/ava">Ava Fleischer</a></li>
	<li><a href="{%include url.html%}/disaster-crew/tara">Tara Caine</a></li>
	<li><a href="{%include url.html%}/disaster-crew/vexus">Vexus Caine</a></li>
	<li><a href="{%include url.html%}/disaster-crew/levi">Levi d’Angelo</a></li>
	<li><a href="{%include url.html%}/disaster-crew/dodder">Conor “Dodder” Haus</a></li></ul></li>
	<!--not characters: links (the backstory thign), origins-->
<li><a href="{%include url.html%}/misc"><b>miscellaneous randos</b></a><ul>
	<li>most of these characters are subsections on the same page</li>
	<li>exceptions: <a href="{%include url.html%}/misc/zero">Zero</a>, the <a href="{%include url.html%}/misc/eel-horse-raptor">eel-horse-raptor</a>, and <a href="{%include url.html%}/misc/sawface">“sawface”</a>, who all have lots of art</li></ul></li>
<li><a href="{%include url.html%}/newhell">/newhell</a><!--later, if I ever return to this; links through the index suffice for now // <ul>
	<li><a href="{%include url.html%}/newhell/timeline">setting & timeline</a></li>
	<li><a href="{%include url.html%}/newhell/cast">cast</a></li></ul>--></li></ul>