---
layout: none
title: "untitled"
hspan: >-
  about the "disaster duo," and their not-friends

ws-h2: "Five <i>W</i>s: an Overview"
ws:
  - h3: who
    txt: |-
      A loose cluster of interconnected dysfunction.
      
      [character thumbnails go here; nico-ivy-ava / tara / vexus-levi-dodder ?]
  - h3: what
    txt: |-
      The in-character timeline is clear in my head; the hypothetical presentation, and its theoretical conclusion, much less so. I hesitate to call it an Established Story:tm:. It could probably turn into one, with more development and a defined endpoint. Until then (and I've made neither plans nor promises), various writeups and drawings about it get to live here.
  - h3: where
    txt: |-
      It starts in a small American town, some no-name suburb not too far from a city that's cared about even less. By the runoff of oft-mowed lawns, summer is dotted with dandelions, and there's just enough woodland on the outskirts for stray kids and pets to get lost in. In the city, weeds slither through the pavement undeterred. There's a sense things could be better, a lot better---if someone could love it into shape.
      
      I've entertained the idea of setting the actual plotline on a cruise ship, one doomed to sink. More often I picture things taking place on the perfectly mundane, everyday soil and sidewalks of lives unperturbed. (mostly.)
  - h3: when
    txt: |-
      <b>20XX.</b> It's a great season to grow. And grow and grow and grow, until the sun disappears behind creaking planks and inviting rapids. Time is running out. Four youth meet in the forest, no one hears, and the consequences echo til death rends them part.
      
      <b>201X, five years later.</b> All is settled; all is well. One can think that, anyway, by shutting the blinds and keeping certain remnants buried. A man wakes up from a coma with a joyous revelation about what comes next; a boy is less than enthused and seeks the truth. Either way, he'll never be alone. (She'll ensure it.)
  - h3: why
    txt: |-
      Insofar as an undercooked idea can have a theme, this one has been built primarily around the jagged ebbs of close human relationships---and their lack, and deeply flawed attempts to attain them. Granted, I always like writing about fucked-up people who make irreversible mistakes; but there is no fantastical, metanarrative, or otherwise surreal element of removal in this storyline. There might be a ghost in it, but it's not about Ghost Lore. It's about death.
      
      The events of 20XX grew out of me futzing around with an existing narrative; the version presented here is divorced entirely from that context. I revisited the concept five real-life years later, with the vague idea of the post-timeskip events being, at least in some part, the unraveling of a mystery. What really happened back then; what can be made of it now?
      
      I don't have answers to that! But the thing continues to linger in my head anyway. It is not always as moody as the writing on this page may imply.
  - h3: additional links
    txt: |-
      [see existing page; also include the v1 index & character profiles, since the whole mood is changing here] [bullet list, two columns on widescreen?]

characters:
  - h3: "nico"
    fullnm: "Nico XXXXX Sylvester"
    sex: "M"
    bday: "April XX, 199X"
    age: "19"
    hgt: "5&apos;05&quot;"
    wgt: "too little"
    brief: |-
      A haggard young man who spends his days at a screen behind a shut door. Hell only knows why he chooses to waste away; he was a fit kid, a spry kid. Said he was going for the lifeguard's tower, once. Jobless, since. Lives with his girlfriend in a small apartment.
      
      Spotted occasionally in recent weeks at the club, karaoke nights. Does stand-up if he's drunk enough. The girlfriend has to drag him back....
    phys: |-
      Scrawny. Gaunt. Sunken blue eyes and a slouched, sharp-edged demeanor. Voice pitches low, with a touch of gravel, but noticeably young---especially on the mic.
      
      Wears ratty old clothes that seem to drown him. Scruffy goatee and sideburns, shaved close to the skin. Dons asymmetrical ear studs. Dark shadows under the eyes.
    history: |-
      Born as an attempt to fix his parents' marriage. Loved his dad growing up, despite the increasing absence; rougher with mom, at first. Grew up well-off for the neighborhood. Spent most warm weekends outside and cooler weekends... also outside, if it made for a good bit. Best friends with a neighboring girl, Tara.
      
      Social interests veered towards local boys, going into adolescence. Tara disappeared suddenly when he was 14; his subsequent depression expedited his parents' divorce, with father Nathaniel's distance deemed unforgivable in light of his son's suffering. Nico softened to his mom after that. He later moved out with his only remaining friend, who he's continued to call <i>Ivy</i>.
      
      Continues to dabble in guitar, military first-person shooters, and making a fool of himself for ~~attention~~ public entertainment value.
  - h3: "ivy"
    fullnm: "Ana XXXXX XXXXX"
    sex: "F"
    bday: "XXXXX XX, 199X"
    age: "22"
    hgt: "5&apos;07&quot;"
    wgt: "above average"
    brief: |-
      An attentive young woman. Works as a waitress at a local chain restaurant; rumored to have engaged in unsavory practices to boost her paycheck. (The numbers don't back this.) Keeps a rotating set of true crime CDs in the car. Lives in a small apartment with her boyfriend(?) Nico.
      
      Manages the social media for a singer-songwriter duo consisting of Nico and herself, though they've yet to release anything original. Appears thoroughly uninterested in tying the knot.
    phys: |-
      Average-ish build, stern face when not in the public eye. Moves without either show or apology. Soft, mid-pitched voice. Contained.
      
      Dresses more conservatively at home than out. Small, dark tattoos on collarbone (leaves of three) and wrists (wrapped around). Noticeable lip scar, unless covered. Wears faux-natural makeup.
    history: |-
      Wanted by one parent, less so the other. Often turned to by mother for emotional support. Family was intermittently hounded by financial woes, possibly owing to father's questionable habits. "Ivy" is a nickname she adopted in childhood, and gave to long-distance friends. Extremely attached to a pitbull-labrador mix her father brought home when both were small, an attempted remedy for separation anxiety.
      
      The dog grew with her; in the teen years, his health started failing. After another string of misfortune, Ivy moved out as early as possible, alongside close friend Nico. Stability thereafter, and with it a new normal, was quickly established.
      
      Stays busy. Does not call her father.
  - h3: "ava"
    fullnm: "Ava Fleischer"
    sex: "F"
    bday: "<i>unrecorded</i>, 199X"
    age: "15"
    hgt: "5&apos;03&quot;"
    wgt: "perpetually chubby"
    brief: |-
      A bright young girl who can seem too chipper to be real. Can be found washing dishes at her grandparents' house, sparking rumors on the schoolgrounds, or skinning roadkill in a makeshift workshop. (Never all three at once!) Lives with said grandparents somewhere outside of town.
      
      Has recently established a shelter for strays in an abandoned house. Would invite others if they were at all interested. Spends increasingly less time at home.
    phys: |-
      Freckled, wide smile. Blonde darkens with age. Gesticulates frequently but not without care. Nasally, high-ish voice with a slight, if deliberately obfuscated, Gaelic accent.
      
      Often seen in school uniform, even during off-days. Well-brushed hair with ringlets which tend to uncurl over the day. Has a prosthetic, contemporarily-fashioned foot, hooked for frequent activity on varying terrain.
    history: |-
      Has had a prosthetic foot as long as she can remember. Parents were unable to care for her; raised by paternal grandparents, who tried to do Ava better than they did their son. Sometimes jokes she was raised by dusty tomes and the taxidermist's knife. Idyllic childhood, all considered.
      
      Recently befriended a passerby to her hodge-podge woodland shelter, a home away from home. Interests have expanded to less conventional specimens, a rare surprise for interested parties. Rejection increasingly slides off as though mere rain to well-oiled rooftop. Unclear if building resilience or losing ability to care; possibly both.
      
      Sole remaining grandparent has fallen ill, slowly over several months. Clock's ticking.
  - h3: "tara"
    fullnm: "Tara Caine"
    sex: "F"
    bday: "[???], 199X"
    age: "15"
    hgt: "6&apos;04&quot;"
    wgt: "“a f*cking beanpole” — Nico"
#                              ^deliberately not using .em here
    br-h4: "In memoriam"
    brief: |-
      Tara was a friendly, kind-hearted soul who touched the lives of all who knew her. She is remembered as being precocious, clever, and always in excellent humor. She's left behind two heartbroken parents, a younger sister she was supposed to protect, and (in spirit) a cat.
      
      They never found the body. There was a note.
    ph-h4: "Attributes"
    phys: |-
      Tall; had a massive growth spurt after puberty. Shaved half her head within the most recent 6 months, a relatively unique style to the area. Often wore confortable athleisure, but went missing in flannel. Frequently wore an hourglass pendant, handmade, attached to a chain necklace.
      
      Disappeared during a torrential downpour in late August, 201X. No warning, no signs of disturbance prior. Zero history of self-harm. Left no trail. Authorities had no leads until the note's recovery in winter.
    hst-h4: "Notable events"
    history: |-
      - 199X: adopted by non-biological parents
      - 200X: Xth place Robotics Club Widgeteer
      - 200X: birth of Sara Caine, younger sister
      - 200X: Junior Advocate for Kids with Autism certificate winner
      - 201X fall -- 201X summer: applied for numerous scholarships, with multiple in progress at time of disappearance
      - 201X autumn: left home overnight, did not return
      - 201X winter: presumed dead
  - h3: "vexus"
    fullnm: "<s>Sara</s> “Vexus” Caine"
    sex: "<s>F</s>"
    bday: "XXXXX, 200X"
    age: "13"
    hgt: "4&apos;04&quot;"
    wgt: "“a big little kid”"
    brief: |-
      Tara's little "sister." Brother, actually---not that she ever got to know that. Spends his days hating homework, surfing venus flytrap care forums, and trying to get new high scores in his (increasingly dated) pocket video games. Still stuck with his parents. Not so eager to "move on."
      
      Less than impressed by the man who claims to have spoken to his sister's spirit. The attempted talks have re-spurred the desire to figure out exactly what happened to her, because he's pretty sure the cops got it wrong....
    phys: |-
      Short. Stocky. Seemingly permanent frown. Unending agitation. Rarely speaks, and with great reluctance when so; voice is rough, unpracticed, mumbling.
      
      Cycles through a predetermined set of outfits, picked more for comfort than aesthetics. Keeps the front tuft of mostly-shaved hair dyed red. Usually looks tired. Doesn't act tired.
    history: |-
      The only reason his family knows anything about autism at all. Adopted from the same country as Tara, but not biologically related to her. Raised in her shadow on purpose, with minimal expectations on the kid who barely spoke. Parents were nice. Tara was nicer. Condescending, without meaning to, but he forgives her for everything now.
      
      She went missing in 201X, after months of getting slowly and strangely distant. Cops asked about that a lot, after. Parents reported nothing amiss. "Mute kid" reported nothing at all. Didn't want to. Wasn't expected to. When the questions finally fucked off the case was closed with a real sudden note. Family never recovered. Moved shortly after. All traces of her, boxed. Vexus keeps some in his room, out.
      
      A conversation that was never had got torn open again, out of seemingly nowhere, by some random fucking guy. Self-righteous asshole who thinks he *knows* her. Vexus can prove him wrong. He's sure she didn't---
  - h3: "levi"
    fullnm: "Levi d’Angelo"
    sex: "?"
    bday: "XXXXX, 200X"
    age: "15"
    hgt: "5&apos;05&quot;"
    wgt: "nunya business"
    brief: |-
      A classmate, a son, a daughter, a background fixture; *annoying,* most say. Levi doesn't care. Please the crowd and they kick back twice as hard. Only way to live is for yourself, yeah? People think Levi's shy. Couldn't be less true. Thing is, they're not worth his time.
      
      Most aren't, anyway. She's drawn to the outcasts; rebels, rulebreakers, the ones who don't sit quiet and gulp down fate with a please and thank-you. Trouble is, they never stay for long....
    phys: |-
      Nerd in tie-dye and leggings. Only getting taller. Can move freely, around the right people; withdrawn, otherwise. When he opens his mouth it's loud. Unapologetic.
      
      Likes a tight, snug fit; stuck with hand-me-down sneakers. Insists on a colorful wardrobe. Super proud of her braces, those things weren't cheap. Usually some degree of scuffed up by the babytwins.
    history: |-
      One sibling of many. Stuck looking after the little ones long as he can trmember. Thinks parents are useless and refuses to respect them on principle. Obedient, anyway, when the cards fall, since that's the only way to get ahead. Resentment festers.
      
      Attempts to point to a "before" for her outsized ego are mostly futile. Uneventful life, just not the best one. Not a long one, so far. Might respect her orthodontist more than any adult (maybe more than anyone), for the meagre achievement of having one job and getting it done rignt. Someday she'll pry mouths open, too. Someday she'll fix 'em. Someday she'll do it all better.
      
      Recently set his sights on that little punk who played hooky. Seems that one's got more guts than initially judged. Y'know what he could use now? A friend. :)
  - h3: "dodder"
    fullnm: "Conor “Dodder” Haus"
    sex: "M"
    bday: "?????"
    age: "mid-50s"
    hgt: "6&apos;00&quot;"
    wgt: "thinner than he used to be"
    brief: |-
      A charming man.
    phys: |-
      Tall, hunched by fatigue. Moves with confidence. Warm, deep voice which demands respect and authority. Some evidence of long-lost muscle. A crowded room listens to him; he's never known otherwise.
      
      Not clean-shaven, a little disheveled. Unclear how much is byproduct vs deliberate curation. Often sports trenchcoats and button-downs which have seen better days. Something in his eyes. Frenzy? Renewed vigor.
    history: |-
      Born to the envied Haus line, spotlit from youth and never grew out of it. Highschool quarterback sweetheart. Pivoted to criminology as a career to follow his passions. Became even more well-known for a grad school documentary about a local gated community suspected of being a cult; a semi-public talk about it went viral, just as virality was becoming an established concept. Nickname "Dodder" was initially derogatory; he's reclaimed it.
      
      Key investigator in the disappearance of a young woman, in an area adjacent to the supposed cult. Spoke personably with her friends, earning some trust and inadvertently becoming a major figure in one of their lives. He attributes this to both his downfall, when he recognized the boundary bleed had gone too far and withdrew for his own safety, and his "revival," as the only (known) person to whom the departed's spirit has communicated. (For years in between, he laid comatose.)
      
      He enjoys listening to that which can't always be heard, sharing word of his revelation with all who will listen, and taking long walks on the shoreline with the sand in his feet and the wind in his hair. Dodder lives in XXXXX.
---
<!DOCTYPE html>
<html><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{page.title}}</title>
  <style>
    *{box-sizing:border-box; font-size:100%; margin:0; padding:0;}
    .x{position:absolute; left:-999px; width:1px; height:1px; top:auto; overflow:hidden;}
    body{background:#101010; color:#fff; padding:1rem; font-family:courier,monospace;}
    header,main,section,footer{display:block;}
		
		::selection{background:#000; color:#fff;}
		.em::after{content:'—';}
    img{max-width:100%; height:auto;}
		.nob{font-weight:normal;}
    small{font-size:.75em;}
		.up{text-transform:uppercase; letter-spacing:.05em;}
    a:focus,summary:focus{outline:/*DEFINE*/;}
		
		header,footer{text-align:center;}
    summary{cursor:pointer;}
    section{background:#efefef; color:#000; margin:1em auto; padding:1em; max-width:50em;}
    h3{font-size:1.25em; color:#404040;}
    p{line-height:1.5;} p+p{margin-top:1em;}
		
		.floatbox{overflow:auto;}
		.stats{list-style-type:none;}
		.stats b{letter-spacing:initial !important;}
		.stats li{display:inline-block; border-left:2px solid; border-bottom:1px dashed; padding:.25em .75em 0 .75em; margin:.125em 0;}
		h4{margin-top:2em; border-bottom:1px dashed;}
		.wrap{max-width:35rem; margin:0 auto;}
		.desc{float:right; max-width:32.5rem; padding-top:.5em; width:100% /*for shorter content*/;}
		.desc p{font-size:.85em; line-height:1.75;}
		/*temp?*/ .floatbox:last-of-type{padding-bottom:2em;}
		
		.serif b,.serif h4{font-weight:bold; letter-spacing:initial;}
			.serif h4{font-size:1.15em;}
			.serif p{font-size:1.075em; line-height:1.5;}
		/*colors are just eyeballed in firealpaca, not picked from anything*/
		#ava{background:#ece4d8; color:#3f3b39; font-family:times,serif;}
			#ava ::selection{background:#3f3b39; color:#ece4d8;}
			#ava b,#ava h4{text-transform:lowercase; font-style:italic;}
		#tara{background:#9f9f9f; font-family:cambria,serif;}
			#tara ::selection{color:#000;}
			#tara b,#tara h4{text-transform:none;}
			#tara h4{font-style:italic; border-bottom:1px solid;}
			#rip{background:#000; color:#efefef; margin:2em auto 0; max-width:40rem; padding:1em; border:1px solid #000;}
				#rip h4{margin:0; padding:0 0 .25em; font-weight:normal; font-size:1.5em; border-bottom:1px solid;}
				#rip h4+.wrap{border-top:1px solid; margin-top:5px;}
				#rip .desc{padding:1em 0 .5em}
				#rip p+p{margin-top:.625em;}
			.desc li+li{margin-top:.5em;}
		#vexus{font-family:calibri,sans-serif;}
			#vexus h4{font-size:1.15em;}
			#vexus p{font-size:1em; line-height:1.5;}
			#vexus s{background:#000;}
			#vexus .em::after{content:none;}
		#levi{font-family:helvetica,sans-serif;}
			#levi ul b{font-size:.85em;}
			#levi p{font-size:.925em; line-height:1.625;}
		#dodder .desc p{font-family:arial,sans-serif; font-size:.85em; line-height:1.65; color:#404040;}
    
    @media (prefers-color-scheme:dark){
      body{background:#000;}
      section{background:#202020; color:#bfbfbf;}
      h2,h3{color:#9f9f9f;}
			
			#ava{background:#3f3b39; color:#e8e4de /*text but desaturated*/;}
				#ava h3{color:inherit;}
			#tara{background:#101010;}
				#rip{border:1px dashed #808080;}
			#dodder .desc p{color:#9f9f9f;}
    }
  </style>
</head><body>
  
  <header>
    <h1>{{page.title}}</h1>
    {{page.hspan|markdownify|replace:"<p>","<span>"|replace:"</p>","</span>"}}
  </header>
  
  <hr>
	
	<main>
		<details>
			<summary><h2 class="up">{{page.ws-h2}}</h2></summary>
			{%for s in page.ws%}{%if s.h2 contains "additional"%}<hr>{%endif%}<section>
				<h3 class="up nob">{{s.h3}}</h3>
				{{s.txt|markdownify|replace:"—","<span class='em'>—</span>"}}
			</section>{%endfor%}
		</details>
		<hr>
		<details id="dossier" OPEN>
			<summary><h2 class="up">Dossier</h2></summary>
			{%for c in page.characters%}<section id="{{c.h3}}"{%if c.h3=='ava' or c.h3=='tara'%} class="serif"{%endif%}>
				<h3 class="up nob">{%if c.h3=="ivy" or c.h3=="dodder"%}“{{c.h3}}”{%else%}{{c.h3}}{%endif%}</h3>
				<ul class="stats"><!-- <https://stackoverflow.com/questions/2628050/ignore-whitespace-in-html> >:( -->
					<li><b class="up nob">Full Name</b>: {{c.fullnm}}</li><!--
					--><li><b class="up nob">Sex</b>: {{c.sex}}</li><!--
					--><li><b class="up nob">D.O.B.</b>: {{c.bday}} (<b class="up nob">Age</b>: {{c.age}})</li><!--
					--><li><b class="up nob">Height</b>: {{c.hgt}}</li><!--
					--><li><b class="up nob">Weight</b>: {{c.wgt}}</li>
				</ul>
				
				<!--this is repetitive but w/e, cba to fuss with the array-in-array thing rn-->
				<div class="floatbox"{%if c.h3=='tara'%} id="rip"{%endif%}>
					<h4 class="up nob"><div class="wrap">{%if c.br-h4%}{{c.br-h4}}{%else%}Brief{%endif%}</div></h4>
					<div class="wrap"><div class="desc">{{c.brief|markdownify|replace:"…","..."|replace:"—","<span class='em'>—</span>"}}</div></div>
				</div><div class="floatbox">
					<h4 class="up nob"><div class="wrap">{%if c.ph-h4%}{{c.ph-h4}}{%else%}Physical{%endif%}</div></h4>
					<div class="wrap"><div class="desc">{{c.phys|markdownify|replace:"…","..."|replace:"—","<span class='em'>—</span>"}}</div></div>
				</div><div class="floatbox">
					<h4 class="up nob"><div class="wrap">{%if c.hst-h4%}{{c.hst-h4}}{%else%}History{%endif%}</div></h4>
					<div class="wrap"><div class="desc">{{c.history|markdownify|replace:"…","..."|replace:"—","<span class='em'>—</span>"}}</div></div>
				</div>
					
				<!--[selected gallery? trivia?? idk the random OC factoids don't really fit the Mood of this page]-->
			</section>{%endfor%}
		</details>
	</main>
  
  <hr>
  
  <footer><small>a page from <a href="{%include url.html%}">a-flyleaf’s toyshelf</a></small></footer>
</body></html>