<hr id="line"/>
<footer><div class="wrap">
	<div id="base">
		<a href="{%include url.html%}">a-flyleaf’s toyshelf</a>
		<ul><li>about</li></ul>
	</div>
	
	<nav>
		<div class="list"><b>random critters</b>
		<ul>
			<li>doodle demon</li>
			<li>Nightpath</li>
			<li>Slade Auctor</li>
			<li>Zero</li>
			<li>“sawface”</li>
			<li>miscellaneous</li>
		</ul></div>
		
		<div class="list"><b>disaster crew</b>
		<ul>
			<li>Nico</li>
			<li>Ivy</li>
			<li>Ava</li>
			<li>Tara</li>
			<li>Vexus</li>
			<li>Levi</li>
			<li>Dodder</li>
		</ul></div>
	</nav>
</div></footer>