---
layout: 1
title: 2018-06-15
# nav: disaster-crew

css: ".sc{text-transform:uppercase;} em.sc{font-style:normal;} /*should be in the site's main css tbfh*/
	#content .wrap{max-width:100%; font-family:initial; padding:0;}
	h1{margin-top:0; font-size:.65em; border:0; font-family:consolas,monospace; font-weight:normal;}
	h1,#intro p,#back{padding:0 1rem;}
	#intro p+p{margin-bottom:1em;}
	section{padding:1rem; text-align:center;}
	.then{background:rgba(0,0,0,.05);}
	h2{font-size:2em; padding:0; border:0; margin:.5em 0 1em; font-weight:normal;}
	section>p:first-of-type{margin-top:0;}
	summary{list-style:none; cursor:pointer; display:inline-block; border:0;} summary::marker,details>summary::-webkit-details-marker{display:none;}
	figure img{display:inline;}
	figure img,figcaption{border:1px solid #bfbfbf;}
	figcaption{max-width:502px; margin:-.5em auto 0; padding:.5em;}
	figure p{margin:0; line-height:1.25;} figure p+p{margin-top:1em;}
	
	.b{font-style:normal;}
	big{font-size:1.5em;}
	i .sc{font-style:italic;}
	h3{font-weight:normal; margin:0 0 -.25em;}
	.then2{background:rgba(0,0,0,.1);}
	
	@media (prefers-color-scheme:dark){
		section:nth-of-type(odd){background:rgba(0,0,0,.25);}
		figure img,figcaption{border-color:#000;}
		.then2{background:rgba(0,0,0,.4);}
	}
"

sec:
  - h2: "The Past."
    class: then
    imgs:
      - num: "13"
        alt: |-
          Tara, a mess: dw lil sis  
          im fuckin *scared shitless*  
          but like.
          
          go tf to bed.
      - num: "03"
        alt: |-
          <b>expectation</b>: #heroism  
          "ur a real livesaver nico" Ivy says, as he heroically saves her from water
          
          <b>reality</b>: Ivy -<i class="sc">dying noises</i>- in the background  
          Nico, distruntled: i almost died
      - num: "02"
        alt: |-
          Ava: i like dead stuff  
          Tara, [distracted](https://en.wikipedia.org/wiki/Distracted_boyfriend): shit me too  
          Nico: <i>[frowning]</i>
      - num: "05"
        alt: |-
          Ivy: i love my dog  
          Nico: cool beans / i am allergic
      - num: "06"
        alt: |-
          Ava: its ur dead pet  
          ???, offscreen: <em class="sc">I love you</em>
      - num: "09"
        alt: |-
          ???, offscreen & dragging Ivy closer: *back my child*  
          [Ivy is not happy; dog's tail wags]
          
          [watching in the doorway]  
          Tara: all is well  
          Nico: stfu this was a Big Fuckin Mistake™
      - num: "11"
        alt: |-
          Ivy & Nico: rant rant rant complain complain complain
      - num: "12"
        alt: |-
          I&N: holy shit someone gets it
  - h3: "[&nbsp;an entire scene happened here somehow&nbsp;]"
    class: then
    imgs:
      - num: "14"
        alt: |-
          Tara: k so we trust each other right  
          Ava: ye  
          Tara: gr8. so idk what im doin in life lol and [dumps personal shit]
      - num: "15"
        alt: |-
          Ava: hey man me neither  
          Tara: ---wtf  
          A: yeah prob not gonna live long anyway  
          T: <em class="sc">Um.</em>  
          A: its cool
      - num: "16"
        alt: |-
          Ava: <em class="sc">But hey</em> <i>[pulling a rope, not listening]</i> lemme show youuuu  
          Tara: <em class="sc">Ava.</em>
      - num: "17"
        alt: |-
          Ava: <em class="sc">my death box</em>  
          it is a box for death
      - num: "18"
        alt: |-
          <i>[zoomed-out view of the death box contraption]</i>  
          A, offscreen: better die young b4 you become crusty right???
      - num: "19"
        alt: |-
          Tara, upset, in the foreground: im going home
          
          (x) Ava will remember that.
      - num: "21"
        alt: |-
          ???, offscreen: uh sweatie / u ok
          
          Tara, staring disgruntledly at food n shit: <i>(internally) <em class="sc">she drowned our cat shitlips</em></i>
  - h2: "The Present."
    class: now
    imgs:
      - num: "01"
        alt: |-
          [google search: "suspicious couple in my area"]  
          [is Vexus, #internet detective]
      - num: "04"
        alt: |-
          Ivy: k goin out want anyth---  
          Nico: <em class="b"><big>a will to live</big></em>  
          Ivy: anything else
      - num: "10"
        alt: |-
          [Vexus holds a phone up to the window, Now Recording: <em class="sc">Drama</em>]
          
          ???, offscreen: wtf liar  
          ???: oh he ded
      - num: "07"
        alt: |-
          Vexus, standing on a counter and pointing angrily: <em class="sc">confess ur sins</em>  
          Ivy, nonplussed: is that a gremlin
      - num: "20"
        alt: |-
          Ivy: and then everyone was sad / so pls STFU.  
          [offscreen, guilty Nico faces]
      - num: "08"
        alt: |-
          Ivy: k you've had fun. now,  
          [[frowning](https://neilblr.com/post/58490668107)] <em style="font-family:sans-serif;font-style:normal;">Leave.</em>
      - num: "22"
        alt: |-
          Levi, to Vexus, who is not listening: bruh / bro friend me / bruh im so concerned
  - h2: "the theme, ig"
    class: then
    imgs:
      - num: "23"
        alt: |-
          Ivy, on the phone in bed: i hate my parents hbu  
          Nico, sadly playing video games, also on the phone: father i crave divorce  
          I: thats rough dude
      - num: "24"
        alt: |-
          Nico: thx for listening when no one else would  
          Ivy: tara tho?  
          N: <em class="sc">like never. idk why</em>
      - num: "25"
        alt: |-
          Ivy: k but same??? / like girl wtf we trusted you & u do this.
      - num: "26"
        alt: |-
          Ivy, Nico, and also Tara to Ava:  
          friend-  
          ship  
          sucks  
          tbfh
    txt2: |-
      depression. the end

#  - h2: ""
#    class: "then/now"
#    txt1: |-
#      lorem
#    imgs:
#      - num: "02"
#        alt: |-
#          ///
#      - num: "02"
#        alt: |-
#          ///
#    txt2: |-
#      ipsum
---
<div id="intro">
	<p>expanded <a href="{%include url.html%}/art/storybs">shitdoodle</a> nonsense. yes this page is kinda ugly on purpose &lt;3</p>
	<p>rearranged more or less chronologically. on paper the story itself would not be chronological at all, but this page has all the nonsense upfront.</p>
	<p>there are typed-out captions if you click the images, in case you cannot read the chickenscratch. i understand</p>
</div>

{%for sec in page.sec%}<section class="{{sec.class}}{%if sec.h3%} then2{%endif%}">{%if sec.h2%}<h2>{{sec.h2}}</h2>{%endif%}{%if sec.h3%}<h3>{{sec.h3}}</h3>{%endif%}{%if sec.txt1%}{{sec.txt1|markdownify}}{%endif%}{%for i in sec.imgs%}<figure><details>
	<summary><img src="{{i.num}}.png" alt=""></summary>
	<figcaption>{{i.alt|markdownify}}</figcaption>
</details></figure>{%endfor%}{%if sec.txt2%}{{sec.txt2|markdownify}}{%endif%}
</section>{%endfor%}

<p id="back"><a href="{%include url.html%}/disaster-crew">← back to disaster crew index</a></p>