/*https://google-webfonts-helper.herokuapp.com/fonts + https://cssminifier.org/*/
@font-face{font-family:'Lato';font-style:normal;font-weight:400;src:url('fonts/lato-v23-latin-regular.eot');src:local(''),url('fonts/lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'),url('fonts/lato-v23-latin-regular.woff2') format('woff2'),url('fonts/lato-v23-latin-regular.woff') format('woff'),url('fonts/lato-v23-latin-regular.ttf') format('truetype'),url('fonts/lato-v23-latin-regular.svg#Lato') format('svg')}@font-face{font-family:'Lato';font-style:italic;font-weight:400;src:url('fonts/lato-v23-latin-italic.eot');src:local(''),url('fonts/lato-v23-latin-italic.eot?#iefix') format('embedded-opentype'),url('fonts/lato-v23-latin-italic.woff2') format('woff2'),url('fonts/lato-v23-latin-italic.woff') format('woff'),url('fonts/lato-v23-latin-italic.ttf') format('truetype'),url('fonts/lato-v23-latin-italic.svg#Lato') format('svg')}@font-face{font-family:'Lato';font-style:normal;font-weight:900;src:url('fonts/lato-v23-latin-700.eot');src:local(''),url('fonts/lato-v23-latin-700.eot?#iefix') format('embedded-opentype'),url('fonts/lato-v23-latin-700.woff2') format('woff2'),url('fonts/lato-v23-latin-700.woff') format('woff'),url('fonts/lato-v23-latin-700.ttf') format('truetype'),url('fonts/lato-v23-latin-700.svg#Lato') format('svg')}

*{margin:0; padding:0; box-sizing:border-box; font-size:100%;}
body{overflow-x:hidden; word-wrap:break-word; font-family:lato,verdana,sans-serif; font-size:1.15em; line-height:150%;}
img{max-width:100%; height:auto;}
header,nav,main,footer{display:block;}
.wrap{max-width:32em; margin:0 auto; padding:0 1em;}
::selection{background:#dfdfdf; background:rgba(0,0,0,.15);}
a{color:#808080;} /*hover at bottom to ensure override*/

#skipto{position:absolute; left:-999px; width:1px; height:1px; top:auto; overflow:hidden;}
#skipto:focus,#skipto:active{width:auto; height:auto; overflow:visible; left:auto;}

header,nav,#footer{padding:.25em 0; color:#808080;}
header,#footer{background:#dfdfdf;} nav{background:#efefef;}
.bar{font-size:.85em; max-width:37.25em;}
.bar a{color:inherit; text-decoration:none; font-weight:bold;}
nav{line-height:125%; padding:.5em 0;} #title{font-weight:normal;} nav ul{display:inline; margin:0;} nav li{display:inline-block; margin-left:.35em;} nav li:before{content:"·"; font-weight:bold; padding-right:.35em;}
main{padding:1em 0 5em;}

h1{font-size:2em; margin-top:.5em; line-height:100%;}
h2{font-size:1.25em; margin:.25em 0 -.25em; padding-top:1em;}
h1,h2{border-bottom:1px solid #c0c0c0;}
h3{font-size:.9em; text-transform:uppercase; letter-spacing:0.05em; color:#606060; margin:1em 0 -.5em; word-spacing:.05em;}
h3 a{text-decoration-color:#c0c0c0;}
h4{color:#949494; margin-top:1em; margin-bottom:-.25em;}
p,ul,ol{margin:.5em 0;} li>ul{margin:0 0 0 1em;}
ul,ol{margin-left:1em;}
code,.code{font-family:consolas,courier,monospace; background:#efefef; padding:0 .25em; margin:0 .15em;}
small{font-size:.85em;}

blockquote{border-left:.25em solid #dfdfdf; padding-left:.75em; margin:.5em 0;}
figure{margin:1em auto;} figure a{display:inline-block; border:1px solid #c0c0c0; border-radius:2px;} figure a:hover,figure a:active,figure a:focus{border-color:#808080;} figure img{display:block;} .artlink a{border:0;} figcaption a{border:0; display:inline;}
hr{border:0; height:1px; background:#808080; width:85%; margin:1.15em auto 1em;}
iframe{border:0; display:block; margin:1em auto; max-width:100%;}
summary{border-bottom:1px dashed #808080; cursor:pointer; color:#808080;} summary:active,summary:hover{color:inherit; font-weight:bold;}
table{border:1px solid #d0d0d0; border-collapse:collapse;}
th,td{padding:.25em .5em; vertical-align:top;}

.box{background:#efefef; border:1px solid #dfdfdf; border-radius:2px;}
a.box{display:inline-block; padding:.5em 1em; text-align:center; text-decoration:none;}
a.box:hover,a.box:focus,a.box:active{background:#e7e7e7; border-color:#c0c0c0;} /*hover at the end*/

#main{text-align:center; margin:1em 0;}
.profile h1{text-align:center; border:0;}
#stats{font-size:.85em;}
#stats th{text-align:right;}
#stats,#summary{width:75%; margin:1em auto;}
#summary{text-align:center;}
#songs ul{list-style-type:none; margin-left:0;} #songs li:before{content:"\1D160"; margin-right:.5em;}
#all{padding:.25em .5em; font-size:.85em; text-align:right; text-decoration:none; float:right;} #all:hover,#all:focus,#all:active{background:#dfdfdf;} /*this can probably be a box*/

#gallery{margin:1em 0;}
#gallery a{border:1px solid #dfdfdf; display:inline-block; padding:5px; border-radius:2px; width:31%; margin:.15em 1%;}
#gallery a:hover,#gallery a:focus,#gallery a:active{border: 1px solid #c0c0c0; background:#efefef;}
#gallery img{display:block; width:100%;}
@media only screen and (min-width:1100px){
	#gallery{width:1050px; margin-left:-225px;} /*there's a better way to do this and it involves re-applying the wrap everywhere. this works for now tho*/
	#gallery a{width:200px; margin:2.5px 5px;}
}

#date{color:#808080; margin:.5em 0 1em;}
#art img{margin:1em auto .75em; border:1px solid #dfdfdf;}
#art figcaption{color:#808080; font-size:.85em; line-height:135%; margin-bottom:2em;} #art figcaption.wrap{max-width:37.25em;} #art figcaption a{text-decoration-color:#c0c0c0;}
#art figcaption p,#art figcaption ul,#art figcaption ol{margin:.35em 0;} #art figcaption ul,#art figcaption ol{margin-left:1em;} #art figcaption li>ul,#art figcaption li>ol{margin-top:0;}
#info{font-size:.85em; padding:.85em 1em; color:#808080; margin-top:2em; line-height:135%;} #info ul{list-style-type:none; margin:0;} .info-li{display:inline-block; width:37.5%;} .info-li:last-child{width:61.5%;}
#info a{font-weight:bold; text-decoration:none;}
#tags,#tags li{display:inline-block;} #tags li{margin-right:.5em;} #tags a{font-weight:normal; font-style:italic;}

a:hover,a:focus,a:active{color:#000;}
a.box:hover,a.box:active,a.box:focus{color:#404040;}

/*
#00 < default text, a:hover
#40 < box:hover text
#60 < h3
#80 < a, header/nav/footer+date/figcaption/info text, summary txt+border
#94 < h4
#c0 < h1/h2+box:hover+#gallery a:hover,figure img border, h3 a, #art figcaption a text-decoration
#df < ::selection+header/footer bg, blockquote+box+gallery a+#art img border
#ef < nav+code+box+gallery a:hover bg
#e7 < box:hover
#ff < default bg
*/

@media (prefers-color-scheme:dark){
	body{background:#404040; color:#fff; line-height:165%;}
	::selection{background:#606060; background:rgba(255,255,255,.15);}
	a{color:#c0c0c0;}
	
	header,#footer{background:#202020;}
	header{letter-spacing:0.015em;}
	nav{background:#303030;}
	header,nav,#footer{color:#c0c0c0;}
	
	h1,h2{border-color:#808080;}
	h3,#stats{color:#dfdfdf;} h3 a{text-decoration-color:#808080;}
	h4{color:#c0c0c0;}
	blockquote,figure a{border-color:#606060;}
	code,.code{background:#606060;}
	
	figure a:hover,figure a:focus,figure a:active{border-color:#000;}
	summary{border-color:#c0c0c0; color:#c0c0c0;}
	table{border-color:#808080;}
	
	.box{background:#505050; border-color:#808080;}
	a.box:hover,a.box:active,a.box:focus{background:#606060; border-color:#949494;}
	
	#stats th{letter-spacing:0.025em;}
	#gallery a{border-color:#808080;} #gallery a:hover,#gallery a:focus,#gallery a:active{background:#202020; border-color:#606060;}
	
	#art img{border-color:#606060;}
	#date,#art figcaption,#info{color:#c0c0c0;}
	#art figcaption{line-height:155%;}
	#info a{color:#dfdfdf;}
	
	a:hover,a:focus,a:active,a.box:hover,a.box:active,a.box:focus,#info a:focus,#info a:hover,#info a:active{color:#fff;}
}