/*https://google-webfonts-helper.herokuapp.com/fonts + https://cssminifier.org/*/
@font-face{font-family:'Lato';font-style:normal;font-weight:400;src:url('fonts/lato-v23-latin-regular.eot');src:local(''),url('fonts/lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'),url('fonts/lato-v23-latin-regular.woff2') format('woff2'),url('fonts/lato-v23-latin-regular.woff') format('woff'),url('fonts/lato-v23-latin-regular.ttf') format('truetype'),url('fonts/lato-v23-latin-regular.svg#Lato') format('svg')}@font-face{font-family:'Lato';font-style:italic;font-weight:400;src:url('fonts/lato-v23-latin-italic.eot');src:local(''),url('fonts/lato-v23-latin-italic.eot?#iefix') format('embedded-opentype'),url('fonts/lato-v23-latin-italic.woff2') format('woff2'),url('fonts/lato-v23-latin-italic.woff') format('woff'),url('fonts/lato-v23-latin-italic.ttf') format('truetype'),url('fonts/lato-v23-latin-italic.svg#Lato') format('svg')}@font-face{font-family:'Lato';font-style:normal;font-weight:900;src:url('fonts/lato-v23-latin-700.eot');src:local(''),url('fonts/lato-v23-latin-700.eot?#iefix') format('embedded-opentype'),url('fonts/lato-v23-latin-700.woff2') format('woff2'),url('fonts/lato-v23-latin-700.woff') format('woff'),url('fonts/lato-v23-latin-700.ttf') format('truetype'),url('fonts/lato-v23-latin-700.svg#Lato') format('svg')}

*{margin:0; padding:0; box-sizing:border-box; font-size:100%;}
body{overflow-x:hidden; word-wrap:break-word; font-family:lato,verdana,sans-serif; font-size:1.15em; line-height:150%;}
img{max-width:100%; height:auto;}
header,main,footer{display:block;}
.wrap{max-width:32em; margin:0 auto; padding:0 1em;}
::selection{background:#dfdfdf; background:rgba(0,0,0,.15);}
a{color:#808080;} /*hover at bottom to ensure override*/

header,#footer{background:#dfdfdf; padding:.25em 0; color:#808080;}
.bar{font-size:.85em; max-width:37.25em;}
.bar a{color:inherit; text-decoration:none; font-weight:bold;}

main{padding:1em 0 5em;}

h1{font-size:2em; margin-top:.5em;}
h2{font-size:1.25em; margin:1.25em 0 -.25em;}
h1,h2{border-bottom:1px solid #c0c0c0;}
h3{font-size:.9em; text-transform:uppercase; letter-spacing:0.05em; color:#606060; margin:1em 0 -.5em;}
p,ul{margin:.5em 0;} li>ul{margin:0 0 0 1em;}
ul{margin-left:1em;}
blockquote{border-left:.25em solid #dfdfdf; padding-left:.75em; margin:1em 0;}

#main{text-align:center; margin:1em 0;} #main a{display:inline-block; border:1px solid transparent;} #main a:hover,#main a:focus,#main a:active{border:1px solid #dfdfdf; border-radius:2px;} #main img{display:block;}
.profile h1{text-align:center; border:0;}
.box{background:#efefef; border:1px solid #dfdfdf; border-radius:2px;}
#stats{font-size:.85em;}
#stats th,#stats td{padding:.25em .5em; vertical-align:top;}
th{text-align:right;}
#stats,#summary{width:75%; margin:1em auto;}
#summary{text-align:center;}
#songs ul{list-style-type:none; margin-left:0;} #songs li:before{content:"ð… "; margin-right:.5em;}
#all{padding:.25em .5em; font-size:.85em; text-align:right; text-decoration:none; float:right;} #all:hover,#all:focus,#all:active{background:#dfdfdf;}

#gallery a{border:1px solid #dfdfdf; display:inline-block; padding:5px; border-radius:2px; width:31%; margin:.15em 1%;}
#gallery a:hover,#gallery a:focus,#gallery a:active{border: 1px solid #c0c0c0; background:#efefef;}
#gallery img{display:block; width:100%;}

#date{color:#808080; margin:.75em 0 1em;}
#art {margin:0 1em;} #art img{display:block; margin:1em auto .75em; border:1px solid #dfdfdf;}
#art figcaption{color:#808080; font-size:.85em; line-height:135%; margin-bottom:2em;} #art figcaption.wrap{max-width:37.25em;} #art figcaption p,#art figcaption ul{margin:.25em 0;} #art figcaption ul{margin-left:1em;} #art figcaption li>ul{margin-top:0;}
#info{font-size:.85em; padding:.5em 1em; color:#808080; margin-top:2em;} #info ul{list-style-type:none; margin:0;} .info-li{display:inline-block; width:49.5%;}
#info a{font-weight:bold; text-decoration:none;}
#tags,#tags li{display:inline-block;} #tags li{margin-right:.5em;} #tags a{font-weight:normal; font-style:italic;}

a:hover,a:focus,a:active{color:#000;}