---
layout: 0-profile
---
<section id="stats"><h2>stats</h2><ul>
	<li>age: {{page.age}}</li>
	<li>height: {{page.height}}</li>
</ul></section>

<section id="main">
	<section id="info"><h2>info</h2>{{page.info}}</section>
	<section id="designnotes"><h2>design notes</h2><ul>{{page.design}}</ul></section>
	<section id="songs"><h2>songs</h2><ul>{{page.songs}}</ul></section>
	<section id="voice"><h2>voice</h2>{{page.voice}}</section>
	<section id="trivia"><h2>trivia</h2><ul>{{page.trivia}}</ul></section>
</section>

<section id="gallery">
	<h2>gallery</h2>
	<!--manually-chosen images-->
</section>