<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{%if page.title%}{{page.title}} | {%endif%}a-flyleaf’s toyshelf</title>
		<link rel="stylesheet" type="text/css" href="{%include url.html%}/assets/1.css"/>{%if page.css%}
		<style>{{page.css}}</style>{%endif%}
	</head>
	
	<body{%if layout.class%} class="{{layout.class}}"{%endif%}>
		<header><div class="wrap bar"><a href="{%include url.html%}">a-flyleaf’s toyshelf</a></div></header>{%if page.layout=="1-profile"%}
		<nav><div class="wrap bar">{%if page.url contains "disaster-crew"%}<a href="{%include url.html%}/disaster-crew" id="title">disaster crew</a>: <ul><li><a href="{%include url.html%}/disaster-crew/nico">Nico</a></li><li><a href="{%include url.html%}/disaster-crew/ivy">Ivy</a></li><li><a href="{%include url.html%}/disaster-crew/ava">Ava</a></li><li><a href="{%include url.html%}/disaster-crew/tara">Tara</a></li><li><a href="{%include url.html%}/disaster-crew/vexus">Vexus</a></li><li><a href="{%include url.html%}/disaster-crew/levi">Levi</a></li><li><a href="{%include url.html%}/disaster-crew/dodder">Dodder</a></li></ul>{%endif%}</div></nav>{%endif%}
		<main>{%if page.url contains "art"%}<figure id="art">
				<img src="{%include url.html%}/assets/img/art/{{page.date|date:'%F'}}.{%if page.file%}{{page.file}}{%else%}png{%endif%}" alt="test"/>
				<figcaption class="wrap">{{page.caption|markdownify}}</figcaption>
			</figure>{%endif%}<div class="wrap">
			<h1>{{page.title}}</h1>{%if page.date%}
			<p id="date">{{page.date|date:"%B %-d, %Y"}}</p>{%endif%}
			{{content}}{%if page.date%}
			<footer class="box" id="info">{%if page.tumblr%}
				{%for tag in page.tumblr%}#{{tag}} {%endfor%}
			{%endif%}<ul>
				<li class="info-li">filed under: <a href="{%include url.html%}/{{category}}">{{page.categories}}</a></li>
				<li class="info-li">tagged: <ul id="tags">{%for tag in page.tags%}<li><a href="{%include url.html%}/{{page.categories}}/{{tag}}">{{tag}}</a></li>{%endfor%}</ul></li>
			</ul></footer>{%endif%}
		</div></main>
		<footer id="footer"><div class="wrap bar">all code and art by <a href="https://a-flyleaf.github.io/">a-flyleaf</a> unless otherwise noted</div></footer>
	</body>
</html>